/* Navbar */
.navbar-nav a {
  font-size: 18px;
}

.product-title {
  line-height: 20px;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
 
  overflow: hidden;
}